:root {
    --pale-blue: #B5F2F3;
    --seashell: #FCF6EC;
    --menthol: #C7E4A7;
    --bisque: #FFEAC5;
    --pink-lavender: #DFB8C0;
    --red: #ff736980;
    --yellow: #ffdc4980;
    --green: #4dab9a80;
    --gray: #373c3f;
    --gray-dark: #2f3437;
    --light: #f7f7f7;
    --white: #ffffff;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--gray-dark);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 220px auto;
    min-height: 100vh;
    min-width: 1vw;
}


/* ---menu--- */
.menu {
    background-color:  var(--gray);
    color: var(--light);
    padding: 30px 20px;
}
.menu h1 {
    font-size: 1rem;
    font-weight: 500;
}
.menu ul {
    list-style: none;
    padding-left: 0;
}
.menu ul li {
    cursor: pointer;
    font-size: .9rem;
}
/* TODO: active class doesn't work */
.menu ul li .active {
    background-color: var(--gray);
    border-radius: 5px;
}
.menu #today-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}

.content {
    padding: 40px 80px;
    color: var(--light);
}
.content h1 {
    font-size: 1rem;
    font-weight: 500;
}
.content h1 #today-icon {
    font-size: 1.2rem;
    margin-right: 10px;
}

.content .todo-data {
    display: grid;
    grid-template-columns: 270px 270px 270px;
    grid-gap: 1rem;
}

.content .todo-data .doing ul,
.content .todo-data .done ul {
    min-height: 200px;
    min-width: 270px;
}

.content .todo-data .todo ul {
    min-height: 1rem;
    min-width: 270px;
}


/* ---todo--- */
.content .todo-data h2 {
    font-size: .8rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1.2rem;
}
.content .todo-data h2 span {
    padding: 2px 5px;
    border-radius: 2px;
    letter-spacing: .1rem;
}
.content .todo-data .todo h2 span {
    background-color: var(--red);
}
.content .todo-data .doing h2 span {
    background-color: var(--yellow);
}
.content .todo-data .done h2 span {
    background-color: var(--green);
}


/* ---lists--- */
.lists {
    padding: 0;
    list-style: none;
}
.lists li {
    background-color: var(--gray);
    padding: .9rem .8rem;
    font-size: .9rem;
    border-radius: 5px;
    color: var(--light);
    font-weight: 300;
    cursor: pointer;
    margin-bottom: .5rem;
    box-shadow: rgb(15 15 15 / 20%) 0px 0px 0px 1px, rgb(15 15 15 / 20%) 0px 2px 4px;
}
.lists li span {
    float: right;
    visibility: hidden;
}
.lists li:hover span {
    visibility: visible;
}


/* ---new task--- */
.content .new-task {
    border: none;
    background-color: var(--gray-dark);
    font-size: .9rem;
    color: var(--light);
    opacity: 50%;
    padding: 0;
    cursor: pointer;
}
.content .new-task:hover {
    opacity: 70%;
}
.content .new-task #add {
    margin-right: 8px;
}

/* ---form--- */
.inputItem {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--gray);
    box-shadow: rgb(15 15 15 / 20%) 0px 0px 0px 1px, rgb(15 15 15 / 20%) 0px 2px 4px;
    display: none;
}
.inputItem #task {
    background-color: var(--gray-dark);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 1.2rem);
    margin-bottom: 1rem;
    color: var(--light);
}
.inputItem #task:focus {
    outline: none;
}
.inputItem .tags {
    padding: .4rem 0;
    width: 63%;
    border: none;
    border-radius: 5px;
    background-color: var(--gray-dark);
    color: var(--light);
    cursor: pointer;
}
.inputItem .tags .option {
    background-color: var(--gray-dark);
    cursor: pointer;
}

/* ---add botton--- */
.inputItem .addItem {
    background-color: var(--gray-dark);
    color: var(--white);
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}


/* ---alert--- */
.alert {
    padding: 1.5rem;
    background: var(--green);
    color: var(--white);
    opacity: .6;
    transition: opacity 0.2s;
    font-size: 1rem;
    line-height: 1rem;
    position:absolute;
    bottom: .5rem;
    left: .5rem;
    width: inherit;
    border-radius: 8px;
    animation: scaleup 0.2s;
}
.scaleout {
    animation: scalein 0.2s;
}
.alertclosebtn {
    margin-left: 15px;
    color: var(--light);
    font-weight: bold;
    float: right;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
@keyframes scaleup {
    0% {
      transform: scale(0);
      bottom: 0rem;
    }
    10% {
        transform: scale(0.1);
        bottom: 0.05rem;
    }
    20% {
        transform: scale(0.2);
        bottom: 0.1rem;
    }
    30% {
        transform: scale(0.3);
        bottom: 0.15rem;
    }
    40% {
        transform: scale(0.4);
        bottom: 0.2rem;
    }
    50% {
        transform: scale(0.5);
        bottom: 0.25rem;
    }
    60% {
        transform: scale(0.6);
        bottom: 0.3rem;
    }
    70% {
        transform: scale(0.7);
        bottom: 0.35rem;
    }
    80% {
        transform: scale(0.8);
        bottom: 0.4rem;
    }
    90% {
        transform: scale(0.9);
        bottom: 0.45rem;
    }
    100% {
        transform: scale(1);
    }
}
@keyframes scalein {
    0% {
      transform: scale(1);
    }
    10% {
        transform: scale(0.9);
        bottom: 0.45rem;
    }
    20% {
        transform: scale(0.8);
        bottom: 0.4rem;
    }
    30% {
        transform: scale(0.7);
        bottom: 0.35rem;
    }
    40% {
        transform: scale(0.6);
        bottom: 0.3rem;
    }
    50% {
        transform: scale(0.5);
        bottom: 0.25rem;
    }
    60% {
        transform: scale(0.4);
        bottom: 0.2rem;
    }
    70% {
        transform: scale(0.3);
        bottom: 0.15rem;
    }
    80% {
        transform: scale(0.2);
        bottom: 0.1rem;
    }
    90% {
        transform: scale(0.1);
        bottom: 0.05rem;
    }
    100% {
        transform: scale(0);
        bottom: 0rem;
    }
}
